<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='icon' href='../static/favicon.ico' type='image/x-icon' sizes="16x16">
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>Grandfather's library</title>
  </head>
  <body>
  <div class="container">
    <nav aria-label="Page navigation example" style="margin-top: 20px;">
      <ul class="pagination">
        {% if num == 1 %}
          <li class="page-item"><a class="page-link" href="">Назад</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="../pages/index{{num-1}}.html">Назад</a></li>
        {% endif %}
        {% for i in range(1, nums+1) %}
          {% if i==num %}
            <li class="page-item active"><a class="page-link" href="../pages/index{{i}}.html">{{i}}<span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{i}}.html">{{i}}<span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% endfor %}
        {% if num == nums %}
          <li class="page-item"><a class="page-link" href="">Вперёд</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="../pages/index{{num+1}}.html">Вперёд</a></li>
        {% endif %}
      </ul>
    </nav>
    {% for i in content %}
      <div class="row">
        {% for q in i %}
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{q.img_src}}" class="card-img" alt="{{q.title}}">
                </div> 
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{q.title}}</h5>
                    <p class="card-text">{{q.author}}</p>
                    <p>
                      {% for s in q.genres %}
                        <span class="badge badge-light">{{s}}</span>
                      {% endfor %}
                    </p>
                    <p class="card-text"><a href="{{q.book_path}}" target="_blank">Читать</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>